<!DOCTYPE html>
<html>
<head>
    <title>Background Check Form Page 1 of 4</title>
</head>
    <body>
        <h1>Background Check Form Page 1/4</h1>
        <h2>Basic Information</h2>
        <form action="#" method="POST">
            <p>Applicant ID <input type="text" name="app_id" /></p>
            <p>National ID <input type="text" name="national_id" /></p>
            <p>Religion <input type="text" name="religion" /></p>
            <p>Appearance Rating <input type="number" name="appearance_rating" min="0" max="10" /></p>
            <p>Strength Rating <input type="number" name="strength_rating" min="0" max="10" /></p>
            <p><input type="submit" value="submit" /></p>
        </form>
    </body>
</html>