<!DOCTYPE html>
<html>
<head>
    <title>Event Actions Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
    <body>
        <h1>Event Actions Form</h1>
        <h2>Event Actions</h2>
        <form action="#" method="POST">
            <div id="action"></div>
            <button id="add_action" type="button">Add action</button>
            <p><input type="submit" value="submit" /></p>
        </form>
        <script>
            $(document).ready(function(){
                var count_action = 0;
                $("#add_action").on("click", function(){
                    count_action += 1;
                    $("<input/>").attr({ type: "text", placeholder: "Enter sequence number of action #"+count_action, name: "seq_"+count_action}).appendTo("#action").wrap($("<div/>"));
                    $("<input/>").attr({ type: "text", placeholder: "Enter description of action #"+count_action, name: "desc_"+count_action}).appendTo("#action").wrap($("<div/>"));
                    $("<input/>").attr({ type: "number", placeholder: "Enter number of cameras of action #"+count_action, name: "cameras_"+count_action}).appendTo("#action").wrap($("<div/>"));
                    $("<input/>").attr({ type: "number", placeholder: "Enter estimated time of action #"+count_action+" in minutes", name: "est_"+count_action}).appendTo("#action").wrap($("<div/>"));
                });
            })
        </script>
    </body>
</html>