<!DOCTYPE html>
<html>
<head>
    <title>Episode Form</title>
</head>
    <body>
        <h1>Episode Form</h1>
        <h2>Episode Information</h2>
        <form action="#" method="POST">
            <p>Episode Title <input type="text" name="episode_title" /></p>
            <p>Episode Air Date <input type="date" name="air_date" /></p>
            <p>Episode Producer <input type="text" name="producer" /></p>
            <p>Episode Director <input type="text" name="director" /></p>
            <p><input type="submit" value="submit" /></p>
        </form>
    </body>
</html>