<!DOCTYPE html>
<html>
<head>
    <title>Event form</title>
</head>
    <body>
        <h1>Add an event to the episode</h1>
        <h2>Event Form</h2>
        <form action="#" method="POST">
            <p>Event Title <input type="text" name="event_title" /></p>
            <p>Event Description <input type="text" name="desc" /></p>
            <p>Estimated Time in Minutes<input type="number" name="est" min="0" max="60" /></p>
            <p>Estimated Danger <input type="number" name="danger" min="0" max="10" /></p>
            <p><input type="submit" value="submit" /></p>
        </form>
    </body>
</html>