<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
    <body>
        <form action="#" method="POST">
            <p><input type="submit" name="appform" value="Enter applicant information" /></p>
            <p><input type="submit" name="backgroundform" value="Enter applicant background check information" /></p>
            <p><input type="submit" name="episodeform" value="Enter episode information" /></p>
            <p><input type="submit" name="votingform" value="Enter voting information" /></p>
        </form>
        
    </body>
</html>