<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Add voting's votes</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        var episode_id = {{ data.episode_id }};
    </script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/votingcontestant.js') }}"></script>
</head>
    <body>
        <div class = "panel-app-header">
            <h1>Add votes for a voting</h1>
            <h2>Votes Form</h2>
        </div>
        <div class="panel-container">
            <div class="panel-vote">
                <form action="#" method="POST">
                    <div class="form_div">
                        <p>Contestant ID <input type="number" name="app_id" /></p>
                        <p>Task Prize <input type="text" name="prize" /></p>
                        <p>Enter the city for voting entry #1 <input type="text" name="city_1" /></p>
                        <p>Enter the state for voting entry #1 <input type="text" name="state_1" /></p>
                        <p>Enter the country for voting entry #1 <input type="text" name="country_1" /></p>
                        <p>Enter the method of voting for voting entry #1 <input type="text" name="method_1" /></p>
                        <p>Enter the total number of votes for voting entry #1 <input type="number" name="total_1" /></p>
                        <div id="votes"></div>
                        <button id="add_votes" type="button">Add another voting entry</button>
                        <p><input type="submit" value="Submit" /></p>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>